
table,
tr,
td,
th {
    border: #000 solid 1px;
    width: auto;
    padding: 0px;
    font-size: 20px;
    border-collapse: collapse;
}

td {
    width: 200px;
    text-align: center;
}

th {
    border: #000 solid 1px;
    color: #333;
    width: 800px;
    text-align: center;
}

#align-th1{
	width: 25px;
}

#align-th2{
	width: 300px;
}

.isa5{
    padding-top: 10px;
    margin-bottom: -130px;
}
