
<div id="conteudo-isa-51">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Engineering Solutions</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        
        <link rel="stylesheet" href="static/css/reset.css">
        <link rel="stylesheet" href="static/css/main.css">
    </head>

<div class="row">

    <div class="isa5">
        <div class="offset-1 col-10 list-div">
            <h1>Tabela de Identificação Funcional - <strong>Instrumentação</strong></h1>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="2">Primeira Letra</th>
                        <th colspan="3">Letras Subsequentes</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Variável medida ou Incial</th>
                        <th>Modificadora</th>
                        <th>Função de Informação ou Passiva</th>
                        <th>Função Final</th>
                        <th>Modificadora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-th1"> {{cont.0}} </td>
                        <td class="align-th2"> {{cont.1}} </td>
                        <td> {{cont.2}} </td>
                        <td> {{cont.3}} </td>
                        <td> {{cont.4}} </td>
                        <td> {{cont.5}} </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
</div>
